
/**************************************
       Fold CSS         
****************************************/
.main-content {
 position: relative;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
  background-color: #009189 !important;
  background-position: 50% 100%;
  background-size: cover  !important;
  height: 100%;
  max-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -ms-transition: background-color 1s ease-in-out 0.5s  !important;
  -moz-transition: background-color 1s ease-in-out 0.5s  !important;
  -webkit-transition: background-color 1s ease-in-out 0.5s  !important;
  transition: background-color 1s ease-in-out 0.5s  !important;
  z-index: -1;

}

.introduction {
  padding: 0 150px 0 150px;
}
.sub-fold {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 0em;
	margin: 20px 0 0 0;
	color: rgba(0, 0, 0, 0.9);
	z-index: -1;

}
.height-top {
	height: 200px;
}

.height-bottom {
	height: 300px;
}

.phone-app {
	visibility: visible;
  -webkit-animation: floatBubble 2s   normal ease-in;
  animation: floatBubble 2s   normal ease-in;
}

.phone {
  top: calc(0px + 13em);
  width:  calc(80% - 10px);
  max-width: 100%;
	position: relative;
}

.signup {
  max-width: 60%;
  text-align: center;
  position: relative;
  -webkit-animation: floatRotate 2s normal ease-out;
  animation: floatRotate 2s normal ease-out;
}


.signup > form  {
  max-width: 100px;
  z-index: 99999;
}

#signup-btn {
  text-align: center;
}

.frm-btn {
  text-align: center;
}

.phone-app-text {
  visibility: hidden;
}
.meal-title {
  position: relative;
  -webkit-animation: floatUnderline 2s normal ease-out;
  animation: floatUnderline 2s normal ease-out;
}


/**************************************
       Animation CSS           
****************************************/

@-webkit-keyframes floatBubble {
    0% {
        top: 0px;
    }
    100% {
        top: calc(0px + 13em);
    }
}
@keyframes floatBubble {
    0% {
        top: 0;
    }
    100% {
        top: calc(0px + 13em);
    }
}


@-webkit-keyframes floatUnderline {
    0% {
		text-decoration: none;
		-webkit-transform: scaleX(0);
		transform: scale(0);
    }
    100% {
    	text-decoration: underline;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
    }
}
@keyframes floatUnderline {
    0% {
		text-decoration: none;
		-webkit-transform: scaleX(0);
		transform: scale(0);
    }
    100% {
    	text-decoration: underline;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
    }
}

@-webkit-keyframes floatRotate {
    0% {
      z-index: 2;
     /* for firefox 31 */
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}
@keyframes floatRotate {
    0% {
      z-index: 2;
     /* for firefox 31 */
      transform: rotateY(180deg);
    }
    100% {
     transform: rotateY(0deg);
    }
}

/**************************************
       Media Queries           
****************************************/

@media screen and (max-width: 1381px) {
  .signup, .phone {
    margin: 0 0 0 20%;
    text-align: center;
  }

  .phone-app-text {
    visibility: visible;
    margin: 0 0 0 20%;
  }

  .phone {
    margin: 0 0 0 20%;
  }

  .introduction {
    text-align: center;
    padding: 0;
    margin 0 auto;
  }
}