.accordion-list{
    padding-top:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

.description {
	height: 100%;
  max-height: 170px;
}

.desc-fold {
  padding-bottom: 5px;
}

.fixed-pos {
  position: fixed !important;
  width: 20%;
}

.text-size-16 {
  font-size: 16px !important;
}

.meal-management {
	margin-right: 0;
  margin-left: calc(20% + 10px);
}

.card .card-reveal {
	overflow: hidden;
}
.category {
	padding: 0px !important;
}
div[back-img]{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
	text-align: center;
	height: 100px !important;
	position: relative;
	-webkit-filter: blur(1px) contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
	-moz-filter:  blur(1px)  contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
	filter: blur(1px)  contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
}

div[back-img]:hover{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
	text-align: center;
	height: 100px !important;
	position: relative;
	-webkit-filter: blur(0px) contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
	-moz-filter:  blur(0px)  contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
	filter: blur(0px)  contrast(0.8) hue-rotate(120deg) saturate(1.5) sepia(0.4);
}

.item-text {
	z-index: 2;
	text-shadow: 2px 2px #000000;
	font-size: 24px;
    top: -10;
    position: absolute;
}

/**************************************
       Animation CSS           
****************************************/

@-webkit-keyframes floatRotate {
    0% {
      z-index: 2;
     /* for firefox 31 */
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(90deg);
    }
}
@keyframes floatRotate {
    0% {
      z-index: 2;
     /* for firefox 31 */
      transform: rotateY(0deg);
    }
    100% {
     transform: rotateY(90deg);
    }
}